<tr>
  <td><%= instrument.description %></td>
  <td><%= link_to 'Show', instrument %></td>
  
  <% if current_user == instrument.user %>
	  <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
	  <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>